body {
  padding-top: 64px;
  font-family: "Lato", sans-serif;
}

form {
  margin-bottom: 10px;
}

.btn {
  margin-top: 3px;
}

#map {
  width: 100%;
  min-height: 560px;
}
 
select {
  display: block;
}
