{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-4">
    {% include "form.html" %}
  </div>
  <div class="col-xs-12 col-md-8">
    <label for="dateInput">Map</label>
    <div id="map"></div>
  </div>
</div>
<script>
var map;
var markers = [];

function clearMarkers() {
    $.each(markers, function(idx, marker) {
        marker.setMap(null);
        delete marker;
    });

    markers = [];
}

$('#fetch').click(function () {
    $.ajax({
        url: "{% url "fetch" %}",
        data: { date: $('#dateInput').val(), time: $('#timeInput').val() }
    })
    .done(function(data) {
        clearMarkers();
        $.each(data.orders, function(idx, val) {
            position = {lat: parseFloat(val.latitude), lng: parseFloat(val.longitude)};
            console.log(position);

            var marker = new google.maps.Marker({
                position: position,
                map: map
            });
            markers.push(marker);
        });
    });
});


$('#simulate').click(function () {
    $.ajax({
        url: "{% url "simulate" %}",
        data: { 
            date: $('#dateInput').val(),
            time: $('#timeInput').val(),
            algorithm: $('#algorithm').val(),
            riders: $('#riders').val()
        }
    })
    .done(function(data) {
        clearMarkers();
        $.each(data.result, function(idx, val) {
            position = {lat: parseFloat(val.latitude), lng: parseFloat(val.longitude)};
            console.log(position);

            var marker_image = '{% static "image/rider-" %}';
            var marker = new google.maps.Marker({
                position: position,
                icon: marker_image + val.color + ".png",
                zIndex: 2,
                map: map
            });
            markers.push(marker);

    //anchor: new google.maps.Point(0, 32)
            var heat_image = {
                url: '{% static "image/heat-" %}' + val.color + ".png",
                anchor: new google.maps.Point(64, 64),
            };
            var heat = new google.maps.Marker({
                position: position,
                icon: heat_image,
                zIndex: 1,
                map: map
            });
            markers.push(heat);
        });
    });
});

function initMap() {
  var myLatLng = {lat: 37.5104645, lng: 127.0233404};

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });

  var image = '{% static "image/hq.png" %}';
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    icon: image,
    title: 'HQ'
  });
}
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&signed_in=true&callback=initMap"></script>
{% endblock %}
