{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-4">
    {% include "form.html" %}
  </div>
  <div class="col-xs-12 col-md-8">
    <label for="dateInput">Map</label>
    <div id="map"></div>
  </div>
</div>
<script>
var HQ = {lat: 37.5104645, lng: 127.0233404};
var map;
var markers = [];
var paths = [];

function clear() {
    $.each(markers, function(idx, marker) {
        marker.setMap(null);
        delete marker;
    });
    markers = [];

    $.each(paths, function(idx, path) {
        path.setMap(null);
        delete path;
    });
    paths = [];
}

$('#fetch').click(function () {
    $.ajax({
        url: "{% url "fetch" %}",
        data: { date: $('#dateInput').val(), time: $('#timeInput').val() }
    })
    .done(function(data) {
        clear();
        $.each(data.orders, function(idx, val) {
            position = {lat: parseFloat(val.latitude), lng: parseFloat(val.longitude)};

            var marker = new google.maps.Marker({
                position: position,
                map: map
            });
            markers.push(marker);
        });
    });
});


$('#simulate').click(function () {
    $.ajax({
        url: "{% url "simulate" %}",
        data: { 
            date: $('#dateInput').val(),
            time: $('#timeInput').val(),
            algorithm: $('#algorithm').val(),
            riders: $('#riders').val()
        }
    })
    .done(function(data) {
        clear();
        $.each(data.result, function(idx, val) {
            var color = idx + 1;
            var path = [HQ];
            $.each(val, function(idx, val) {
                position = {lat: parseFloat(val.latitude), lng: parseFloat(val.longitude)};

                var marker_image = '{% static "image/rider-" %}';
                var marker = new google.maps.Marker({
                    position: position,
                    icon: marker_image + color + ".png",
                    zIndex: 3,
                    map: map
                });
                markers.push(marker);

                var heat_image = {
                    url: '{% static "image/heat-" %}' + color + ".png",
                    anchor: new google.maps.Point(64, 64),
                };
                var heat = new google.maps.Marker({
                    position: position,
                    icon: heat_image,
                    zIndex: 1,
                    map: map
                });
                markers.push(heat);
                path.push(position);
            });

            var path = new google.maps.Polyline({
                path: path,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 4,
                zIndex: 2,
            });
            path.setMap(map);
            paths.push(path);
        });
    });
});

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: HQ
  });

  var image = '{% static "image/hq.png" %}';
  var marker = new google.maps.Marker({
    position: HQ,
    map: map,
    icon: image,
    title: 'HQ'
  });
}
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&signed_in=true&callback=initMap"></script>
{% endblock %}
